body {
    background-color: #fbbc02;
}

.MAIN {
    border: 1px solid black;
    background-color: white;
    width: 30%;
    height: 30%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: x-large;
}

.label {
    font-size: large;
}

.IMG {
    width: 50%;
    height: 50%;
}